    <!-- breadcrumbs -->
    <div class="container">
      <div class="breadcrumbs">
          <a href="index-1.html"><i class="las la-home"></i></a>
          <a href="#" class="active">Register</a>
      </div>
  </div>

  <!--register wrapper-->
  <div class="register_wrap section_padding_b">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-xl-5 col-lg-7 col-md-9">
                  <div class="register_form padding_default shadow_sm">
                      <h4 class="title_2">Crea Cuenta</h4>
                      <p class="mb-4 text_md">Regístrese aquí si es un nuevo cliente.</p>
                      <form
                      [formGroup]="registrationForm"
                      (ngSubmit)="submit()"
                      novalidate="novalidate"
                      >
                          <!-- begin::Alert error-->
                          <ng-container *ngIf="hasError">
                            <div class="mb-10 alert alert-danger" role="alert">
                              Los datos de registro son incorrectos.
                            </div>
                          </ng-container>
                          <!-- end::Alert error-->
                          <div class="row">
                              <div class="col-12">
                                  <div class="single_billing_inp">
                                      <label>Nombre:<span>*</span></label>
                                      <input type="text" placeholder="Pablo" name="name" formControlName="name">
                                  </div>
                              </div>
                              <div class="col-12">
                                <div class="single_billing_inp">
                                    <label>Apellido:<span>*</span></label>
                                    <input type="text" placeholder="Gonzales" name="surname" formControlName="surname">
                                </div>
                              </div>
                              <div class="col-12">
                                  <div class="single_billing_inp">
                                      <label>Correo Electronico:<span>*</span></label>
                                      <input type="email" placeholder="example@mail.com" name="email" formControlName="email">
                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="single_billing_inp">
                                      <label>Contraseña:<span>*</span></label>
                                      <input type="password" placeholder="escriba su contraseña" name="password" formControlName="password">
                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="single_billing_inp">
                                      <label>Repetir Contraseña:<span>*</span></label>
                                      <input type="password" placeholder="confirme su contraseña" name="cPassword" formControlName="cPassword">
                                  </div>
                              </div>
                              <div class="col-12 mt-2">
                                  <div class="custom_check check_2 d-flex align-items-center">
                                      <input type="checkbox" class="check_inp" hidden id="save-default" name="agree" formControlName="agree">
                                      <label for="save-default">He leído y estoy de acuerdo con los <a href="terms-condition.html"
                                              class="text-color">términos y condiciones</a> </label>
                                  </div>
                              </div>
                              <div class="col-12 mt-3">
                                  <button
                                  type="submit"
                                  [disabled]="registrationForm.invalid || !registrationForm.controls['agree'].value"
                                  class="btn default_btn xs_btn rounded px-4 d-block w-100"
                                  >
                                  Crear Cuenta
                                  <ng-container *ngIf="isLoading$ | async">
                                    <span class="spinner spinner-primary ml-5"></span>
                                  </ng-container>
                                  </button>
                              </div>

                          </div>
                      </form>

                      <div class="dif_regway my-3">
                          <span class="txt">O regístrate con</span>
                      </div>

                      <div class="d-flex">
                          <button class="default_btn xs_btn rounded px-4 d-block w-50 text-capitalize bg-facebook">
                              <i class="fab fa-facebook-f me-2"></i> Facebook
                          </button>
                          <button class="default_btn xs_btn rounded px-4 d-block w-50 ms-3 text-capitalize bg-google">
                              <i class="fab fa-google me-2"></i> Google
                          </button>
                      </div>

                      <p class="text-center mt-3 mb-0">Ya tienes una cuenta.? <a href="login.html" class="text-color">Inicia sesión ahora</a></p>

                  </div>
              </div>
          </div>
      </div>
  </div>
