  <!-- breadcrumbs -->
  <div class="container">
    <div class="breadcrumbs">
        <a href="#"><i class="las la-home"></i></a>
        <a href="#" class="active">Iniciar Sesión</a>
    </div>
</div>

<!--Login wrap-->
<div class="register_wrap section_padding_b">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-7 col-md-9">
                <div class="register_form padding_default shadow_sm">
                    <h4 class="title_2">Inicio de sesión</h4>
                    <p class="mb-4 text_md">Inicie sesión si ya tiene una cuenta</p>
                    <form
                    [formGroup]="loginForm"
                    (ngSubmit)="submit()"
                    novalidate="novalidate">

                        <!-- begin::Alert error-->
                        <ng-container *ngIf="hasError">
                          <div class="mb-10 alert alert-danger" role="alert">
                            {{ messageError }}
                          </div>
                        </ng-container>
                        <!-- end::Alert error-->
                        <div class="row">
                            <div class="col-12">
                                <div class="single_billing_inp">
                                    <label>correo electrónico:<span>*</span></label>
                                    <input type="email" name="email" placeholder="example@mail.com" formControlName="email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single_billing_inp">
                                    <label>Contraseña:<span>*</span></label>
                                    <input type="password" name="password" placeholder="Escriba su contraseña..." formControlName="password">
                                </div>
                            </div>
                            <div class="col-12 mt-2 d-flex justify-content-between align-items-center">
                                <div class="custom_check check_2 d-flex align-items-center">
                                    <input type="checkbox" class="check_inp" hidden id="save-default">
                                    <label for="save-default">Recuérdame</label>
                                </div>

                                <a href="forgot-password.html" class="text-color">¿Has olvidado tu contraseña?</a>
                            </div>
                            <div class="col-12 mt-3">
                                <button
                                type="submit"
                                [disabled]="loginForm.invalid"
                                class="btn default_btn xs_btn rounded px-4 d-block w-100">
                                  Iniciar Sesión
                                  <ng-container *ngIf="isLoading$ | async">
                                    <span class="spinner spinner-primary ml-5"></span>
                                  </ng-container>
                                </button>
                            </div>

                        </div>
                    </form>

                    <div class="dif_regway my-3">
                        <span class="txt">Or login in with</span>
                    </div>

                    <div class="d-flex">
                        <button class="default_btn xs_btn rounded px-4 d-block w-50 text-capitalize bg-facebook">
                            <i class="fab fa-facebook-f me-2"></i> Facebook
                        </button>
                        <button class="default_btn xs_btn rounded px-4 d-block w-50 ms-3 text-capitalize bg-google">
                            <i class="fab fa-google me-2"></i> Google
                        </button>
                    </div>

                    <p class="text-center mt-3 mb-0">¿No tienes una cuenta? <a href="register.html" class="text-color">Crear Cuenta</a></p>

                </div>
            </div>
        </div>
    </div>
</div>
